@import "./global/_colors.scss";
@import "./global/_fonts.scss";
@import "./global/_mediaQuery.scss";
* {
    font-family: $ff-primary;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.dflex {
    display: flex;
}

.dnone {
    display: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.pre-loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-primary {
    font-family: $ff-primary;
}

.font-cursive {
    font-family: $ff-dancingScript;
}

.color-primary {
    color: $color-primary;
}

.color-primary-tint {
    color: $color-primary-tint;
}

.color-accent-1 {
    color: $color-accent-1;
}

.color-accent-2 {
    color: $color-accent-2;
}

.color-secondary {
    color: $color-secondary;
}

.color-secondary-tint {
    color: $color-secondary-tint;
}

.color-white {
    color: white;
}

.header {
    font-size: 85px;
    color: $color-primary;
    text-shadow: -2px 2px 0 $color-primary-tint;
}

.ease {
    transition: all 500ms ease-in-out;
}

@media (max-width: $breakpoint-large-tablet) {
    .header {
        font-size: 55px;
        text-shadow: -1px 1px 0 $color-primary-tint;
    }
}

@media (max-width: $breakpoint-med-tablet) {
    .header {
        padding-top: 20px;
        font-size: 45px;
    }
}

@media (max-width: $breakpoint-phones) {
    .header {
        padding-top: 10px;
        font-size: 35px;
    }
}