@import "./global/_colors.scss";
@import "./global/_fonts.scss";
@import "./global/_mediaQuery.scss";
* {
    font-family: $ff-primary;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.dflex {
    display: flex;
}

.dnone {
    display: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.pre-loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-primary {
    font-family: $ff-primary;
}

.font-cursive {
    font-family: $ff-dancingScript;
}

.header {
    font-size: 85px;
    color: $color-primary;
    text-shadow: -2px 1px 0 $color-secondary-tint;
}

.ease {
    transition: all 500ms ease-in-out;
}

@media (max-width: $breakpoint-large-tablet) {
    .header {
        font-size: 55px;
    }
}

@media (max-width: $breakpoint-med-tablet) {
    .header {
        padding-top: 20px;
        font-size: 35px;
    }
}