@import "../../../../style/global/_colors.scss";
@import "../../../../style/global/_fonts.scss";
@import "../../../../style/global/_mediaQuery.scss";
.cmpnt-wedding-info {
    padding: 50px;
}

.img-wedding {
    transform-origin: 50% 50%;
    transform: rotateZ(3deg);
    border-radius: 5px;
    height: 500px;
    width: auto;
    padding: 6px;
    border: 1px lightgrey solid;
    box-shadow: 0px 2px 30px -5px black;
}

@media (max-width: $breakpoint-large-tablet) {
    .img-wedding {
        height: 425px;
    }
    .cmpnt-wedding-info {
        padding: 30px;
    }
}

@media (max-width: $breakpoint-phones) {
    .img-wedding {
        height: 300px;
    }
}