@import "../global/_colors.scss";
@import "../global/_fonts.scss";
@import "../global/_mediaQuery.scss";
.cover {
    /* The image used */
    background-image: url("https://i.imgur.com/z5tE0me.jpg");
    /* Full height */
    height: 800px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 1920px 0, 1920px 91%, 0 100%);
    .c-greeting-outer {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 800px;
        width: 100%;
        .c-greeting-inner {
            height: 100%;
            width: 100%;
            background: $color-primary-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.6;
            clip-path: polygon(0 0, 1920px 0, 1920px 91%, 0 100%);
            p {
                text-align: center;
                color: white;
                text-shadow: -2px 2px 0 $color-secondary;
                font-size: 180px;
                font-family: $ff-dancingScript;
                padding: 0px;
            }
        }
    }
}

@media (max-width: $breakpoint-large-tablet) {
    .cover {
        height: 600px;
        background-position: -230px 50px;
        background-size: auto 800px;
        clip-path: polygon( 0 0, $breakpoint-large-tablet 0, $breakpoint-large-tablet 91%, 0 100%);
        .c-greeting-outer {
            height: 600px;
            .c-greeting-inner {
                clip-path: polygon( 0 0, $breakpoint-large-tablet 0, $breakpoint-large-tablet 91%, 0 100%);
                p {
                    font-size: 130px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-med-tablet) {
    .cover {
        height: 600px;
        background-position: -350px 50px;
        background-size: auto 800px;
        clip-path: polygon( 0 0, $breakpoint-med-tablet 0, $breakpoint-med-tablet 91%, 0 100%);
        .c-greeting-outer {
            height: 600px;
            .c-greeting-inner {
                clip-path: polygon( 0 0, $breakpoint-med-tablet 0, $breakpoint-med-tablet 91%, 0 100%);
                p {
                    font-size: 117px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-phones) {
    .cover {
        height: 450px;
        background-position: -130px 50px;
        background-size: auto 400px;
        clip-path: polygon( 0 0, $breakpoint-phones 0, $breakpoint-phones 91%, 0 100%);
        .c-greeting-outer {
            height: 450px;
            .c-greeting-inner {
                clip-path: polygon( 0 0, $breakpoint-phones 0, $breakpoint-phones 91%, 0 100%);
                p {
                    font-size: 80px;
                }
            }
        }
    }
}