@import "../global/_colors.scss";
@import "../global/_fonts.scss";
@import "../global/_mediaQuery.scss";
.cmpnt-signature {
    font-size: 40px;
    font-family: $ff-dancingScript;
    color: $color-primary;
}

@media (max-width: $breakpoint-large-tablet) {
    .cmpnt-signature {
        font-size: 40px;
        font-family: $ff-dancingScript;
    }
}

@media (max-width: $breakpoint-med-tablet) {
    .cmpnt-signature {
        font-size: 30px;
        font-family: $ff-dancingScript;
    }
}

@media (max-width: $breakpoint-phones) {
    .cmpnt-signature {
        font-size: 30px;
        font-family: $ff-dancingScript;
    }
}