@import "../global/_colors.scss";
@import "../global/_fonts.scss";
.cmpnt-signature {
    #signature-svg {
        width: 140px;
        height: 130px;

        text {
            text-anchor: middle;
            stroke: none;
            font-weight: 100;
            fill: $color-primary;
            font-family: $ff-tangerine;
        }
        .signature- {
            &C1 {
                font-size: 100px;
                transform: translate(30px, 70px);
                font-weight: 100;
            }
            &C2 {
                font-size: 100px;
                transform: translate(50px, 117px);
                font-weight: 100;
            }
            &reative {
                font-size: 30px;
                transform: translate(60px, 47px);
                fill: $color-secondary;
            }
            &onfections {
                font-size: 30px;
                transform: translate(90px, 94px);
                fill: $color-secondary;
            }
        }
    }
}