@import "../global/_colors.scss";
@import "../global/_fonts.scss";
@import "../global/_mediaQuery.scss";
.cmpnt-signature {
    font-size: 40px;
    font-family: $ff-dancingScript;
    color: $color-primary;
    text-shadow: -1px 1px 0 $color-secondary-tint;
    line-height: 90%;
}

@media (max-width: $breakpoint-large-tablet) {
    .cmpnt-signature {
        font-size: 40px;
    }
}

@media (max-width: $breakpoint-med-tablet) {
    .cmpnt-signature {
        font-size: 30px;
    }
}

@media (max-width: $breakpoint-phones) {
    .cmpnt-signature {
        font-size: 30px;
    }
}